{% extends 'base.html'%}
{% block content%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Topology mapper</a>
        </li>
      </ol>
      <div class="card-header">New topology</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-3">
                <label for="exampleInputName">Topology name</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
              </div>
              <div class="col-md-3">
                <label for="exampleInputLastName">Last name</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
              </div>
            </div>
          </div>
        </div>
{%endblock%}
